## We do not update compiled build files and cache files
build/*
*.pyc
## We do not update compiled pyd files, translated cpp files
*.pyd
*.c
*.cpp
*.exp
**/__init__.pxd
# Cpp/Hpp files wrote by original authors should be updated instead
!**/src/**
## We do not update video logs
*.mp4
## We do not update model files
*.pt
*.pth
## We do not update cache files
**/__pycache__
## We do not update crawled carla data
resources/data/carla
## We do not update test scripts
test.sh
nohup.out