carla==0.9.13

networkx
numpy
lanelet2==1.2.1
opencv-python
scikit-learn
matplotlib
pandas
cvxpy
ipykernel
ipywidgets
transforms3d
shapely
empy==3.3.4
catkin_pkg
rospkg
dubins
scipy
casadi

dictor
lmdb==1.1.1
tqdm
moviepy
imageio
imageio-ffmpeg
ray==1.1.0
requests
pyyaml
py_trees==0.8.3
tabulate
six
wandb
xmlschema
einops==0.3.2
Pillow==5.4.1
imgaug==0.4.0
ephem
defusedxml