carla==0.9.15

# scenario_runner
py-trees==0.8.3
numpy==1.18.4; python_version >= '3.0'
networkx==2.2
Shapely==1.7.1
psutil
xmlschema==1.0.18
ephem
tabulate
opencv-python==4.2.0.32
matplotlib
six
simple-watchdog-timer

# ros-bridge
pep8
autopep8
cmake_format==0.6.11
pylint
transforms3d
pygame
pexpect
simple-pid

# leaderboard
dictor
requests

# roslibpy
roslibpy
tornado
pymongo


# ros-noetic
rospkg
catkin_pkg
empy==3.3.4
defusedxml

# ISS
numpy
lanelet2==1.2.1
scikit-learn
ipykernel
dubins
cvxpy
casadi

# LAV
dictor
lmdb==1.1.1
tqdm
moviepy
imageio
imageio-ffmpeg
ray==1.1.0
requests
pyyaml
tabulate
six
wandb
xmlschema
einops==0.3.2
Pillow==5.4.1
imgaug==0.4.0
ephem